{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>
    <table class=" table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.total }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan = "4"><strong>Cash</strong></td>
                <td><strong>{{ cash }}</strong></td>
            </tr>
            <tr>
                <td colspan = "4"><strong>Total</strong></td>
                <td><strong>{{ grand_total }}</strong></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
